<div class="container">
  <h1> Your New Training Plan </h1>
  <div class="row">
    <%= render "calendar", locals: {date: @date, workouts: @workouts, workout_summary: @workout_summary} %>
  </div>
</div>